<article
  class="d-flex flex-column items-center justify-center text-center"
  style="margin-top: 30px;"
>
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
      {% include media-url.html src=site.avatar %}
      {%- endcapture -%}
        <img
          src="{{- avatar_url -}}"
          width="150"
          height="150"
          alt="avatar"
          onerror="this.style.display='none'"
          style="border-radius: 50%;"
        >
      {%- endif -%}
    </a>
    <h1 class="site-title" style="margin-top: 16px;">Hi, I am Ramkumar</h1>
  </header>
  <div class="flex-wrap align-items-center w-100">
    <a
      href="https://github.com/ramenhost"
      aria-label="github"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      style="font-size: 1.4em;"
    >
      <i class="fab fa-github"></i>
    </a>

    <a
      href="https://bsky.app/profile/ramenhost.dev"
      aria-label="bluesky"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
    >
      <i class="fab fa-bluesky"></i>
    </a>

    <a
      href="https://twitter.com/ramenhost"
      aria-label="twitter"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
    >
      <i class="fab fa-x-twitter"></i>
    </a>

    <a
      href="https://discordapp.com/users/1010247725851357204"
      aria-label="discord"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
    >
      <i class="fab fa-discord"></i>
    </a>

    <style>
      .social-link {
        margin: 0 6px;
        font-size: 1.3em;
        color: rgb(222, 139, 111);
      }
      .social-link:hover {
        color: rgb(0, 86, 178);
      }
    </style>
  </div>
  <section class="prose dark:prose-invert">
    <p style="font-size: 1.2em;">
      I work on systems programming, cryptography, reverse engineering, and application security. On weekends, you can
      find me in Capture the Flag events. Feel free to reach out if you'd like to connect!
    </p>
  </section>
</article>

<div class="flex justify-start w-full">
  <h2 class="text-left">Recent</h2>
</div>
